<div class="card card-default">
    <div class="card-header">
        <h2>Gestionar Citas</h2>

        <div style="text-align:right;">
            <a class="btn btn-primary" href="#">
                <i class="fa fa-plus"></i> Agregar Cita
            </a>
        </div>
    </div>

    <div class="card-body">
        <table id="gestionarCitas" class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre Servicio</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Corte cabello</td>
                    <td>15:00 2025-03-19</td>
                    <td>
                        <a href="#"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="~/js/app.js"></script>
<script>
    $(document).ready(function () {
        var table = new DataTable('#gestionarCitas', {
            responsive: true, // Habilita el modo responsive
            language: {
                url: '//cdn.datatables.net/plug-ins/2.2.2/i18n/es-ES.json',
            },
            columnDefs: [{
                targets: '_all', className: 'dt-left'
            }],
        });
    });
</script>

