@model List<DiasTrabajoModel>
@{
    var servicioId = Context.Request.Query["s"].ToString();
}


<section id="schedule-management">
    <div class="pb-4">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">¿Qué día deseas recibir el servicio?</h1>
                <p class="text-muted">Seleccione un día de la semana para gestionar el horario correspondiente.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-6" id="calendar-container">
                <div class="bg-white rounded rounded-1 p-3">
                    <div id="calendar"></div>
                </div>
            </div>
            <div class="col-6">
                <div class="bg-white rounded rounded-1 p-3">
                    <div id="texto-guia" class="text-center text-secondary">Selecciona un día para mostrar su horarios disponibles</div>
                    <div id="selectorHoras">

                    </div>
                    <!-- Aquí se generarán los botones con las horas disponibles -->
                </div>
                <div class="mt-3">
                    <input type="hidden" id="servicioId" value="@servicioId"/>
                    <input type="hidden" id="fechaSeleccionada"/>
                    <input type="hidden" id="horaSeleccionada" />
                    <a id="confirmarCita" onclick="redirigirConfirmar()" class="btn btn-lg btn-primary w-100" style="background-color:#321914; border-color: #1F283E;">Siguiente</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/solicitudcita/actualizarhoraseleccionada.js"></script>
<script src="~/js/solicitudcita/calendariosolicitudcita.js"></script>
<script src="~/js/solicitudcita/redirigiravistaconfirmar.js"></script>