USE [AgendaTuLook]
GO
/****** Object:  Table [dbo].[tCitas]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCitas](
	[CitaId] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [bigint] NOT NULL,
	[ServicioId] [bigint] NOT NULL,
	[Fecha] [date] NOT NULL,
	[HoraInicio] [time](0) NOT NULL,
	[HoraFin] [time](0) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[DiaTrabajoId] [bigint] NULL,
 CONSTRAINT [PK__tCitas__F0E2D9D2725D11AA] PRIMARY KEY CLUSTERED 
(
	[CitaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tDiasTrabajo]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDiasTrabajo](
	[DiaTrabajoId] [bigint] IDENTITY(1,1) NOT NULL,
	[NombreDia] [varchar](20) NOT NULL,
	[HoraInicio] [time](0) NULL,
	[HoraFin] [time](0) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK__tDiasTra__D272B90B806A453D] PRIMARY KEY CLUSTERED 
(
	[DiaTrabajoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tExcepciones]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tExcepciones](
	[ExcepcionId] [bigint] IDENTITY(1,1) NOT NULL,
	[Mensaje] [text] NOT NULL,
	[Fecha] [datetime] NULL,
	[Origen] [varchar](50) NOT NULL,
	[UsuarioId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExcepcionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tMetodosPago]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMetodosPago](
	[MetodoPagoId] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[Estado] [bit] NULL,
 CONSTRAINT [PK__tMetodos__A8FEAF545E2DFAAB] PRIMARY KEY CLUSTERED 
(
	[MetodoPagoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tNotificaciones]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tNotificaciones](
	[NotificacionId] [bigint] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [bigint] NOT NULL,
	[Mensaje] [varchar](255) NOT NULL,
	[FechaEnvio] [datetime] NULL,
	[Leido] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tPagos]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPagos](
	[PagoId] [bigint] IDENTITY(1,1) NOT NULL,
	[CitaId] [bigint] NOT NULL,
	[MetodoPagoId] [bigint] NOT NULL,
	[FechaPago] [datetime] NULL,
	[Comprobante] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PagoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tProveedoresAuth]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tProveedoresAuth](
	[ProveedorAuthId] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](6) NOT NULL,
 CONSTRAINT [PK_tProveedoresAuth] PRIMARY KEY CLUSTERED 
(
	[ProveedorAuthId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tReviews]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tReviews](
	[ReviewId] [bigint] IDENTITY(1,1) NOT NULL,
	[CitaId] [bigint] NOT NULL,
	[ComentarioReview] [nvarchar](1000) NULL,
	[CalificacionReview] [int] NULL,
	[fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tRoles]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRoles](
	[RolId] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tServicios]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tServicios](
	[ServicioId] [bigint] IDENTITY(1,1) NOT NULL,
	[NombreServicio] [varchar](100) NOT NULL,
	[Descripcion] [text] NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Duracion] [int] NOT NULL,
	[Imagen] [varchar](255) NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK__tServici__D5AEECC25E23B642] PRIMARY KEY CLUSTERED 
(
	[ServicioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tUsuarios]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUsuarios](
	[UsuarioId] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Contrasennia] [varchar](255) NULL,
	[GoogleId] [varchar](255) NULL,
	[Telefono] [varchar](15) NULL,
	[RolId] [bigint] NOT NULL,
	[FechaRegistro] [datetime] NULL,
	[ProveedorAuthId] [bigint] NULL,
	[CodigoVerificacion] [varchar](10) NULL,
	[FechaVencimientoVerificacion] [datetime] NULL,
 CONSTRAINT [PK__tUsuario__2B3DE7B86517B5AB] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tCitas] ON 

INSERT [dbo].[tCitas] ([CitaId], [UsuarioId], [ServicioId], [Fecha], [HoraInicio], [HoraFin], [Estado], [DiaTrabajoId]) VALUES (10021, 10033, 1, CAST(N'2025-04-11' AS Date), CAST(N'09:00:00' AS Time), CAST(N'10:00:00' AS Time), N'Finalizada', 5)
INSERT [dbo].[tCitas] ([CitaId], [UsuarioId], [ServicioId], [Fecha], [HoraInicio], [HoraFin], [Estado], [DiaTrabajoId]) VALUES (20011, 10033, 1, CAST(N'2025-04-11' AS Date), CAST(N'13:00:00' AS Time), CAST(N'14:00:00' AS Time), N'Cancelada', 5)
INSERT [dbo].[tCitas] ([CitaId], [UsuarioId], [ServicioId], [Fecha], [HoraInicio], [HoraFin], [Estado], [DiaTrabajoId]) VALUES (20012, 10033, 1, CAST(N'2025-04-14' AS Date), CAST(N'10:00:00' AS Time), CAST(N'11:00:00' AS Time), N'Confirmada', 1)
SET IDENTITY_INSERT [dbo].[tCitas] OFF
GO
SET IDENTITY_INSERT [dbo].[tDiasTrabajo] ON 

INSERT [dbo].[tDiasTrabajo] ([DiaTrabajoId], [NombreDia], [HoraInicio], [HoraFin], [Activo]) VALUES (1, N'Lunes', CAST(N'10:00:00' AS Time), CAST(N'17:00:00' AS Time), 1)
INSERT [dbo].[tDiasTrabajo] ([DiaTrabajoId], [NombreDia], [HoraInicio], [HoraFin], [Activo]) VALUES (2, N'Martes', CAST(N'08:00:00' AS Time), CAST(N'13:00:00' AS Time), 1)
INSERT [dbo].[tDiasTrabajo] ([DiaTrabajoId], [NombreDia], [HoraInicio], [HoraFin], [Activo]) VALUES (3, N'Miércoles', CAST(N'08:00:00' AS Time), CAST(N'16:00:00' AS Time), 1)
SET IDENTITY_INSERT [dbo].[tDiasTrabajo] OFF
GO
SET IDENTITY_INSERT [dbo].[tMetodosPago] ON 

INSERT [dbo].[tMetodosPago] ([MetodoPagoId], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Tarjeta Débito/Crédito', N'Descripcion Tarjeta', 1)
INSERT [dbo].[tMetodosPago] ([MetodoPagoId], [Nombre], [Descripcion], [Estado]) VALUES (2, N'SINPE Móvil', N'Descripción SINPE', 1)
SET IDENTITY_INSERT [dbo].[tMetodosPago] OFF
GO
SET IDENTITY_INSERT [dbo].[tPagos] ON 

INSERT [dbo].[tPagos] ([PagoId], [CitaId], [MetodoPagoId], [FechaPago], [Comprobante]) VALUES (10018, 10021, 2, CAST(N'2025-04-10T21:02:53.630' AS DateTime), N'3135768.png')
INSERT [dbo].[tPagos] ([PagoId], [CitaId], [MetodoPagoId], [FechaPago], [Comprobante]) VALUES (20008, 20011, 2, CAST(N'2025-04-11T12:58:03.627' AS DateTime), N'3135768.png')
INSERT [dbo].[tPagos] ([PagoId], [CitaId], [MetodoPagoId], [FechaPago], [Comprobante]) VALUES (20009, 20012, 2, CAST(N'2025-04-11T13:03:54.870' AS DateTime), N'3135768.png')
SET IDENTITY_INSERT [dbo].[tPagos] OFF
GO
SET IDENTITY_INSERT [dbo].[tProveedoresAuth] ON 

INSERT [dbo].[tProveedoresAuth] ([ProveedorAuthId], [Nombre]) VALUES (1, N'Email')
INSERT [dbo].[tProveedoresAuth] ([ProveedorAuthId], [Nombre]) VALUES (2, N'Google')
SET IDENTITY_INSERT [dbo].[tProveedoresAuth] OFF
GO
SET IDENTITY_INSERT [dbo].[tReviews] ON 

INSERT [dbo].[tReviews] ([ReviewId], [CitaId], [ComentarioReview], [CalificacionReview], [fecha]) VALUES (6, 10021, N'que putas fue esa picha!!!!!', 4, NULL)
SET IDENTITY_INSERT [dbo].[tReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[tRoles] ON 

INSERT [dbo].[tRoles] ([RolId], [Nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[tRoles] ([RolId], [Nombre]) VALUES (2, N'Cliente')
SET IDENTITY_INSERT [dbo].[tRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[tServicios] ON 

INSERT [dbo].[tServicios] ([ServicioId], [NombreServicio], [Descripcion], [Precio], [Duracion], [Imagen], [Estado]) VALUES (2, N'111', N'|12|12', CAST(22.00 AS Decimal(10, 2)), 11, N'https://blog.clover.com/wp-content/uploads/2024/03/barber-shaving-customer-with-straight-razor.jpg', 1)
SET IDENTITY_INSERT [dbo].[tServicios] OFF
GO
SET IDENTITY_INSERT [dbo].[tUsuarios] ON 

INSERT [dbo].[tUsuarios] ([UsuarioId], [Nombre], [Correo], [Contrasennia], [GoogleId], [Telefono], [RolId], [FechaRegistro], [ProveedorAuthId], [CodigoVerificacion], [FechaVencimientoVerificacion]) VALUES (10032, N'Ricardo Vargas', N'ricardovm2803@gmail.com', N'klVMA1ubTkEMAthQ6Np0mA==', N'103966479926404496735', N'84622823', 1, CAST(N'2025-03-20T12:35:05.977' AS DateTime), 2, NULL, NULL)
INSERT [dbo].[tUsuarios] ([UsuarioId], [Nombre], [Correo], [Contrasennia], [GoogleId], [Telefono], [RolId], [FechaRegistro], [ProveedorAuthId], [CodigoVerificacion], [FechaVencimientoVerificacion]) VALUES (10033, N'Ricardo Manuel', N'123hijo36@gmail.com', NULL, N'107552496017882252155', NULL, 2, CAST(N'2025-03-20T12:36:01.610' AS DateTime), 2, NULL, NULL)
INSERT [dbo].[tUsuarios] ([UsuarioId], [Nombre], [Correo], [Contrasennia], [GoogleId], [Telefono], [RolId], [FechaRegistro], [ProveedorAuthId], [CodigoVerificacion], [FechaVencimientoVerificacion]) VALUES (10034, N'Ricardo Vargas', N'aaronvm09@gmail.com', NULL, N'113782116621441987697', NULL, 2, CAST(N'2025-04-05T14:00:58.130' AS DateTime), 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tUsuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tMetodos__75E3EFCF887DB8F8]    Script Date: 13/4/2025 15:47:48 ******/
ALTER TABLE [dbo].[tMetodosPago] ADD  CONSTRAINT [UQ__tMetodos__75E3EFCF887DB8F8] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tUsuario__60695A1915D2DBE0]    Script Date: 13/4/2025 15:47:48 ******/
ALTER TABLE [dbo].[tUsuarios] ADD  CONSTRAINT [UQ__tUsuario__60695A1915D2DBE0] UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tDiasTrabajo] ADD  CONSTRAINT [DF__tDiasTrab__Activ__208CD6FA]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[tExcepciones] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[tMetodosPago] ADD  CONSTRAINT [DF__tMetodosP__Estad__4CA06362]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[tNotificaciones] ADD  DEFAULT (getdate()) FOR [FechaEnvio]
GO
ALTER TABLE [dbo].[tNotificaciones] ADD  DEFAULT ((0)) FOR [Leido]
GO
ALTER TABLE [dbo].[tPagos] ADD  DEFAULT (getdate()) FOR [FechaPago]
GO
ALTER TABLE [dbo].[tUsuarios] ADD  CONSTRAINT [DF__tUsuarios__Fecha__3A81B327]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[tCitas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_DiasTrabajo] FOREIGN KEY([DiaTrabajoId])
REFERENCES [dbo].[tDiasTrabajo] ([DiaTrabajoId])
GO
ALTER TABLE [dbo].[tCitas] CHECK CONSTRAINT [FK_Citas_DiasTrabajo]
GO
ALTER TABLE [dbo].[tCitas]  WITH CHECK ADD  CONSTRAINT [FK_tCitas_Servicio] FOREIGN KEY([ServicioId])
REFERENCES [dbo].[tServicios] ([ServicioId])
GO
ALTER TABLE [dbo].[tCitas] CHECK CONSTRAINT [FK_tCitas_Servicio]
GO
ALTER TABLE [dbo].[tCitas]  WITH CHECK ADD  CONSTRAINT [FK_tCitas_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[tUsuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[tCitas] CHECK CONSTRAINT [FK_tCitas_Usuario]
GO
ALTER TABLE [dbo].[tExcepciones]  WITH CHECK ADD  CONSTRAINT [FK_tExcepciones_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[tUsuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[tExcepciones] CHECK CONSTRAINT [FK_tExcepciones_Usuarios]
GO
ALTER TABLE [dbo].[tNotificaciones]  WITH CHECK ADD  CONSTRAINT [FK_tNotificaciones_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[tUsuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[tNotificaciones] CHECK CONSTRAINT [FK_tNotificaciones_Usuario]
GO
ALTER TABLE [dbo].[tPagos]  WITH CHECK ADD  CONSTRAINT [FK_tPagos_Cita] FOREIGN KEY([CitaId])
REFERENCES [dbo].[tCitas] ([CitaId])
GO
ALTER TABLE [dbo].[tPagos] CHECK CONSTRAINT [FK_tPagos_Cita]
GO
ALTER TABLE [dbo].[tPagos]  WITH CHECK ADD  CONSTRAINT [FK_tPagos_MetodoPago] FOREIGN KEY([MetodoPagoId])
REFERENCES [dbo].[tMetodosPago] ([MetodoPagoId])
GO
ALTER TABLE [dbo].[tPagos] CHECK CONSTRAINT [FK_tPagos_MetodoPago]
GO
ALTER TABLE [dbo].[tReviews]  WITH CHECK ADD  CONSTRAINT [FK_tReviews_tCitas] FOREIGN KEY([CitaId])
REFERENCES [dbo].[tCitas] ([CitaId])
GO
ALTER TABLE [dbo].[tReviews] CHECK CONSTRAINT [FK_tReviews_tCitas]
GO
ALTER TABLE [dbo].[tUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_tUsuarios_Rol] FOREIGN KEY([RolId])
REFERENCES [dbo].[tRoles] ([RolId])
GO
ALTER TABLE [dbo].[tUsuarios] CHECK CONSTRAINT [FK_tUsuarios_Rol]
GO
ALTER TABLE [dbo].[tUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_tUsuarios_tProveedoresAuth] FOREIGN KEY([ProveedorAuthId])
REFERENCES [dbo].[tProveedoresAuth] ([ProveedorAuthId])
GO
ALTER TABLE [dbo].[tUsuarios] CHECK CONSTRAINT [FK_tUsuarios_tProveedoresAuth]
GO
ALTER TABLE [dbo].[tCitas]  WITH CHECK ADD  CONSTRAINT [CK__tCitas__Estado__5AEE82B9] CHECK  (([estado]='Cancelada' OR [estado]='Confirmada' OR [estado]='Finalizada'))
GO
ALTER TABLE [dbo].[tCitas] CHECK CONSTRAINT [CK__tCitas__Estado__5AEE82B9]
GO
ALTER TABLE [dbo].[tReviews]  WITH CHECK ADD CHECK  (([CalificacionReview]>=(1) AND [CalificacionReview]<=(5)))
GO
/****** Object:  StoredProcedure [dbo].[ActualizarHorasDiaTrabajo]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarHorasDiaTrabajo]
	@DiaTrabajoId BIGINT,
	@HoraInicio TIME(0),
	@HoraFin TIME(0)
AS
BEGIN
	UPDATE tDiasTrabajo 
	SET HoraInicio = @HoraInicio,
	HoraFin = @HoraFin
	WHERE DiaTrabajoId = @DiaTrabajoId
END

GO
/****** Object:  StoredProcedure [dbo].[ActualizarServicio]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Template generated from Template Explorer using:
CREATE PROCEDURE [dbo].[ActualizarServicio]
	@ServicioId BIGINT,
	@NombreServicio VARCHAR(100),
	@Descripcion TEXT,
	@Precio DECIMAL(10,2),
	@Duracion INT,
	@Imagen VARCHAR(255)
AS
BEGIN
	UPDATE tServicios
	SET NombreServicio = @NombreServicio,
	Descripcion = @Descripcion,
	Precio = @Precio,
	Duracion = @Duracion,
	Imagen = @Imagen
	WHERE ServicioId = @ServicioId;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarUsuario]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarUsuario]
    @UsuarioId BIGINT,
    @Nombre VARCHAR(100),
    @Telefono VARCHAR(15),  
    @Correo VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
  
    -- Verificar si el usuario existe
    IF EXISTS (SELECT 1 FROM tUsuarios WHERE UsuarioId = @UsuarioId)
    BEGIN
        -- Actualizar los datos del usuario
        UPDATE tUsuarios
        SET Nombre = ISNULL(@Nombre, Nombre),  -- Solo cambia si no es NULL
            Telefono = ISNULL(@Telefono, Telefono),  -- Solo cambia si no es NULL
            Correo = ISNULL(@Correo, Correo)
        WHERE UsuarioId = @UsuarioId;
        
        -- Retornar resultado exitoso
        SELECT 1 AS Resultado, 'Usuario actualizado correctamente' AS Mensaje;
    END
    ELSE
    BEGIN
        -- Retornar error si el usuario no existe
        SELECT 0 AS Resultado, 'El usuario no existe' AS Mensaje;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[CambiarContrasenna]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CambiarContrasenna]
    @Correo VARCHAR(100),
    @NuevaContrasennia VARCHAR(255)
AS
BEGIN
    UPDATE tUsuarios
    SET Contrasennia = @NuevaContrasennia,
        FechaVencimientoVerificacion = NULL,
		CodigoVerificacion = NULL
    WHERE Correo = @Correo;
END
GO
/****** Object:  StoredProcedure [dbo].[CambiarEstadoDiaTrabajo]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CambiarEstadoDiaTrabajo]
	@DiaTrabajoId BIGINT
AS
BEGIN
	UPDATE tDiasTrabajo 
	SET Activo = Activo ^ 1
	WHERE DiaTrabajoId = @DiaTrabajoId
END

GO
/****** Object:  StoredProcedure [dbo].[CambiarEstadoServicio]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CambiarEstadoServicio]
	@ServicioId BIGINT
AS
BEGIN
	UPDATE tServicios 
	SET Estado = Estado ^ 1
	WHERE ServicioId = @ServicioId
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarCitasCalendario]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarCitasCalendario]
    @UsuarioId BIGINT,
    @Completadas INT
AS
BEGIN
    DECLARE @EsAdmin BIT;
    
    -- Determinar si el usuario es administrador
    SELECT @EsAdmin = CASE WHEN u.RolId = r.RolId THEN 1 ELSE 0 END
    FROM tUsuarios u
    INNER JOIN tRoles r ON r.Nombre = 'Administrador'
    WHERE u.UsuarioId = @UsuarioId;
    
    -- Consulta única con condiciones dinámicas
    SELECT 
        c.CitaId, 
        u.Nombre AS NombreCliente, 
        s.NombreServicio, 
        c.Fecha, 
        c.HoraInicio, 
        c.HoraFin, 
        c.Estado,
		r.ReviewId,
		r.CalificacionReview,
		r.ComentarioReview
    FROM 
        tCitas c
    JOIN 
        tUsuarios u ON u.UsuarioId = c.UsuarioId
    JOIN 
        tServicios s ON s.ServicioId = c.ServicioId
	LEFT JOIN 
        tReviews r ON r.CitaId = c.CitaId
    WHERE 
        -- Filtro de usuario (solo si no es administrador)
        (@EsAdmin = 1 OR u.UsuarioId = @UsuarioId)
        -- Filtro de estado usando CASE WHEN
        AND CASE 
            WHEN @Completadas = 0 THEN 1
            WHEN @Completadas = 1 AND c.Estado IN ('Finalizada', 'Cancelada') THEN 1
            WHEN @Completadas = 2 AND c.Estado = 'Confirmada' THEN 1
            ELSE 0
        END = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarDatosConfirmar]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarDatosConfirmar]
	@UsuarioId BIGINT,
	@ServicioId BIGINT,
	@Fecha DATE
AS
BEGIN
	SET LANGUAGE Español;
	SELECT u.Nombre, u.Correo, u.Telefono,
		   s.NombreServicio, s.Precio, s.Duracion,
		   (SELECT DiaTrabajoId 
			FROM tDiasTrabajo 
			WHERE NombreDia = DATENAME(WEEKDAY, @Fecha)) AS DiaTrabajoId
	FROM tUsuarios u
	JOIN tServicios s ON s.ServicioId = @ServicioId
	WHERE u.UsuarioId = @UsuarioId;
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarDiasTrabajo]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarDiasTrabajo]
	@DiaTrabajoId BIGINT
AS
BEGIN
	IF (@DiaTrabajoId = 0)
		SET @DiaTrabajoId = NULL
		SELECT DiaTrabajoId, NombreDia, Activo, HoraInicio, HoraFin
		FROM tDiasTrabajo
		WHERE DiaTrabajoId = ISNULL(@DiaTrabajoId, DiaTrabajoId)
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarHorasDisponibles]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarHorasDisponibles]
	@Fecha DATE
AS
BEGIN

	SET LANGUAGE Español;

	DECLARE @DiaTrabajoId BIGINT;
	SELECT @DiaTrabajoId = DiaTrabajoId
	FROM tDiasTrabajo
	WHERE NombreDia = DATENAME(WEEKDAY, @Fecha);

	WITH Horas AS (
    SELECT CAST(H.Hora AS TIME(0)) AS Hora
    FROM (VALUES ('00:00'), ('01:00'), ('02:00'), ('03:00'), ('04:00'), 
                ('05:00'), ('06:00'), ('07:00'), ('08:00'), ('09:00'), 
                ('10:00'), ('11:00'), ('12:00'), ('13:00'), ('14:00'),
                ('15:00'), ('16:00'), ('17:00'), ('18:00'), ('19:00'), 
                ('20:00'), ('21:00'), ('22:00'), ('23:00')) AS H(Hora)
)
	SELECT h.Hora
	FROM Horas h
	JOIN tDiasTrabajo dt ON dt.DiaTrabajoId = @DiaTrabajoId
	WHERE h.Hora >= dt.HoraInicio AND h.Hora <= DATEADD(HOUR, -1, dt.HoraFin)
	AND (
    -- Si la fecha seleccionada es hoy, muestra solo horas >= hora actual
    (@Fecha = CONVERT(DATE, GETDATE()) AND h.Hora >= CAST(GETDATE() AS TIME))
    -- Si la fecha es futura, muestra todas las horas disponibles
    OR @Fecha > CONVERT(DATE, GETDATE())
)
	AND NOT EXISTS (
		SELECT 1
		FROM tCitas c
		WHERE c.Fecha = @Fecha -- esto es clave, la fecha
		AND h.Hora >= c.HoraInicio AND h.Hora < c.HoraFin
	);
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarServicios]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConsultarServicios]
	@ServicioId BIGINT
AS
BEGIN
	IF (@ServicioId = 0)
		SET @ServicioId = NULL
		SELECT ServicioId, NombreServicio, Descripcion, Precio, Duracion, Imagen, Estado
		FROM tServicios
		WHERE ServicioId = ISNULL(@ServicioId, ServicioId)
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarUsuario]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE[dbo].[ConsultarUsuario]
	@UsuarioId BIGINT
AS
BEGIN
	SELECT Nombre,Telefono,Correo,Contrasennia
	FROM tUsuarios
	WHERE UsuarioId = @UsuarioId
END
GO
/****** Object:  StoredProcedure [dbo].[CrearCita]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CrearCita]
	@UsuarioId BIGINT,
	@ServicioId BIGINT,
	@Fecha DATE,
	@HoraInicio TIME(0),
	@HoraFin TIME(0),
	@DiaTrabajoId BIGINT,
	@MetodoPagoId BIGINT,
	@Comprobante VARCHAR(255)
AS
BEGIN

	DECLARE @CitaId BIGINT;

	INSERT INTO tCitas (UsuarioId, ServicioId, Fecha, HoraInicio, HoraFin, Estado, DiaTrabajoId)
	VALUES (@UsuarioId, @ServicioId, @Fecha, @HoraInicio, @HoraFin, 'Confirmada', @DiaTrabajoId)

	SET @CitaId = SCOPE_IDENTITY();

	INSERT INTO tPagos (CitaId, MetodoPagoId, FechaPago, Comprobante)
	VALUES (@CitaId, @MetodoPagoId, CURRENT_TIMESTAMP, @Comprobante)
END
GO
/****** Object:  StoredProcedure [dbo].[CrearServicio]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearServicio]
	@NombreServicio VARCHAR(100),
	@Descripcion TEXT,
	@Precio DECIMAL(10,2),
	@Duracion INT
AS
BEGIN
	INSERT INTO tServicios (NombreServicio, Descripcion, Precio, Duracion, Estado)
	VALUES (@NombreServicio, @Descripcion, @Precio, @Duracion, 1)

	DECLARE @ServicioId BIGINT;
	SET @ServicioId = SCOPE_IDENTITY();
	SELECT @ServicioId AS ServicioId;
END
GO
/****** Object:  StoredProcedure [dbo].[DesvincularGoogleId]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DesvincularGoogleId] 
    @Correo VARCHAR(100)
AS
BEGIN
    DECLARE @Contrasennia VARCHAR(255);
    SELECT @Contrasennia = Contrasennia FROM tUsuarios WHERE Correo = @Correo;

    IF @Contrasennia IS NULL
    BEGIN
        RETURN;
    END

    UPDATE tUsuarios
    SET GoogleId = NULL,
        ProveedorAuthId = (SELECT ProveedorAuthId FROM tProveedoresAuth WHERE Nombre = 'Email')
    WHERE Correo = @Correo;
END
GO
/****** Object:  StoredProcedure [dbo].[ExisteCorreo]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ExisteCorreo]
	@Correo VARCHAR(100)
AS
BEGIN
	 IF EXISTS (SELECT 1 FROM tUsuarios WHERE Correo = @Correo)
	 BEGIN
		 SELECT 1 AS Existe
	 END
	 ELSE
	 BEGIN
		 SELECT 0 AS Existe
	 END
END
GO
/****** Object:  StoredProcedure [dbo].[GuardarCalificacionCita]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GuardarCalificacionCita]
	@CitaId BIGINT,
	@CalificacionReview INT,
	@ComentarioReview NVARCHAR(1000)
AS
BEGIN
	INSERT INTO tReviews (CitaId, CalificacionReview, ComentarioReview, Fecha)
	VALUES (@CitaId, @CalificacionReview, @ComentarioReview, CURRENT_TIMESTAMP)
END
GO
/****** Object:  StoredProcedure [dbo].[GuardarCodigoVerificacion]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarCodigoVerificacion]
	@UsuarioId INT,
    @CodigoVerificacion NVARCHAR(10),
    @FechaVencimiento DATETIME
AS
BEGIN
    UPDATE tUsuarios
    SET CodigoVerificacion = @CodigoVerificacion,
        FechaVencimientoVerificacion = @FechaVencimiento
    WHERE UsuarioId = @UsuarioId
END
GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Login]
	@Correo VARCHAR(100),
	@Contrasennia VARCHAR(255)
AS
BEGIN
	SELECT	UsuarioId,
			Nombre,
			Correo,
			RolId
	FROM	tUsuarios
	WHERE   Correo = @Correo
	AND Contrasennia = @Contrasennia
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerDetalleCita]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ObtenerDetalleCita]
    @CitaId BIGINT
AS
BEGIN
    SELECT 
        c.CitaId,
        c.Fecha,
        c.HoraInicio,
        c.HoraFin,
        c.Estado,
        c.DiaTrabajoId,

        -- Datos del usuario
        u.UsuarioId,
        u.Nombre AS NombreUsuario,
        u.Correo,
        u.Telefono,

        -- Datos del servicio
        s.ServicioId,
        s.NombreServicio,
        s.Precio,
        s.Duracion
    FROM tCitas c
    JOIN tUsuarios u ON u.UsuarioId = c.UsuarioId
    JOIN tServicios s ON s.ServicioId = c.ServicioId
    WHERE c.CitaId = @CitaId
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerIdUsuarioConCorreo]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerIdUsuarioConCorreo]
	@Correo VARCHAR(100)
AS
BEGIN
	SELECT UsuarioId, Nombre, RolId
	FROM tUsuarios
	WHERE Correo = @Correo
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerMetodosPago]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerMetodosPago]
AS
BEGIN
	SELECT MetodoPagoId, Nombre, Descripcion FROM tMetodosPago;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerProveedorAuthConCorreo]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerProveedorAuthConCorreo]
	@Correo VARCHAR(100)
AS
BEGIN
	SELECT PA.Nombre,
	CASE
		WHEN U.Contrasennia IS NOT NULL THEN 1
		ELSE 0
	END AS TieneContrasennia,
	CASE
		WHEN U.GoogleId IS NOT NULL THEN 1
		ELSE 0
	END AS TieneGoogleId
	FROM tUsuarios U
	INNER JOIN tProveedoresAuth PA ON PA.ProveedorAuthId = U.ProveedorAuthId
	WHERE U.Correo = @Correo
END
GO
/****** Object:  StoredProcedure [dbo].[RegistroUsuario]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistroUsuario]
	@Nombre VARCHAR(100),
	@Correo VARCHAR(100),
	@Contrasennia VARCHAR(255),
	@GoogleId VARCHAR(255),
	@Telefono VARCHAR(15),
	@ProveedorAuth VARCHAR(6)
AS
BEGIN
	DECLARE @RolId BIGINT;
	DECLARE @ProveedorAuthId BIGINT;
	DECLARE @UsuarioId BIGINT;

	SET @RolId = (SELECT RolId FROM tRoles WHERE Nombre = 'Cliente');
	SET @ProveedorAuthId = (SELECT ProveedorAuthId FROM tProveedoresAuth WHERE Nombre = @ProveedorAuth);

	INSERT INTO tUsuarios (Nombre, Correo, Contrasennia, GoogleId, Telefono, ProveedorAuthId, RolId)
	VALUES (@Nombre, @Correo, @Contrasennia, @GoogleId, @Telefono, @ProveedorAuthId, @RolId)

	SET @UsuarioId = SCOPE_IDENTITY();
	SELECT @UsuarioId AS UsuarioId;
END
GO
/****** Object:  StoredProcedure [dbo].[TieneCitaAgendada]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TieneCitaAgendada]
	@UsuarioId BIGINT
AS
BEGIN
	SET NOCOUNT ON;

	IF EXISTS (
		SELECT 1
		FROM Citas
		WHERE UsuarioId = @UsuarioId AND Fecha >= GETDATE()
	)
		SELECT 1
	ELSE
		SELECT 0
END
GO
/****** Object:  StoredProcedure [dbo].[ValidarContrasenniaActual]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ValidarContrasenniaActual]
	@UsuarioId BIGINT,
	@ContrasenniaEnviada VARCHAR(255)
AS
BEGIN
	DECLARE @ContrasenniaAlmacenada VARCHAR(255);
	SELECT @ContrasenniaAlmacenada = Contrasennia
	FROM tUsuarios
	WHERE UsuarioId = @UsuarioId;

	IF @ContrasenniaAlmacenada = @ContrasenniaEnviada
	BEGIN
		SELECT 1 AS Coincide; -- Las contraseñas coinciden
	END
	ELSE
	BEGIN
		SELECT 0 AS Coincide; -- Las contraseñas no coinciden
	END
END
GO
/****** Object:  StoredProcedure [dbo].[VerificarCodigoRecuperacion]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerificarCodigoRecuperacion]
    @Correo VARCHAR(100),
    @Codigo VARCHAR(10)
AS
BEGIN
    SELECT UsuarioId, Correo, CodigoVerificacion, FechaVencimientoVerificacion
    FROM tUsuarios
    WHERE Correo = @Correo AND CodigoVerificacion = @Codigo
END
GO
/****** Object:  StoredProcedure [dbo].[VincularGoogleId]    Script Date: 13/4/2025 15:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VincularGoogleId] 
	@GoogleId VARCHAR(255),
	@Correo VARCHAR(100)
AS
BEGIN
	UPDATE tUsuarios
	SET GoogleId = @GoogleId,
    ProveedorAuthId = (SELECT ProveedorAuthId FROM tProveedoresAuth WHERE Nombre = 'Google')
	WHERE Correo = @Correo
END
GO
