@model UsuarioModel;
@inject IConfiguration configuration
@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
    var sitekey = configuration.GetSection("RecaptchaSettings:site_key").Value;
}
<script type="text/javascript">
    var onloadCallback = function() {
      grecaptcha.render('html_element', {
          'sitekey' : '@sitekey'
        });
    };

     function onSubmit(event){
            var token = grecaptcha.getResponse();
            document.getElementById("recaptchaTokenInput").value = token;
        }
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
</script>
<div class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-dark navbar-extend p-2" style="background-color: #291410;">
        <div class="container-fluid">
            <a class="navbar-brand fs-4 fw-bold" th:href="">
                <i class="fa fa-heart mx-2"></i> Donde tu belleza encuentra su mejor versión.
            </a>
        </div>
    </nav>
    <section class="container-fluid d-flex flex-grow-1 px-0">
        <div class="col">
            <img src="https://images.pexels.com/photos/3993123/pexels-photo-3993123.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" style="object-fit: cover; height: 100%">
        </div>
        <div class="col d-flex align-items-center">
            <div class="container-fluid d-flex flex-column">
                <form asp-controller="Autenticacion" asp-action="Registro" class="pb-4 border-bottom px-5" th:action="" method="POST" onsubmit="onSubmit(event)">
                    <input asp-for="RecaptchaToken" type="hidden" id="recaptchaTokenInput" />
                    <div class="text-center fw-bold" style="font-size: 10vh; color: #321914;">AgendaTuLook</div>
                    <h2 class="mb-5 text-center" style="color: #321914;">Registrarse</h2>

                    @if (TempData["Mensaje"] != null)
                    {
                        <div class="alert alert-warning text-center">
                            @TempData["Mensaje"]
                        </div>
                    }

                    <div class="row g-4 pb-3">
                        <div class="col-md-7">
                            <div class="form-group form-floating">
                                <input asp-for="Nombre" type="text" class="form-control" placeholder="Nombre" name="Nombre" id="Nombre" required/>
                                <label class="form-label">Nombre</label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group form-floating">
                                <input asp-for="Telefono" type="text" class="form-control" placeholder="Número Telefónico" name="Telefono" id="Telefono" required />
                                <label class="form-label">Número Telefónico</label>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-group form-floating">
                                <input asp-for="Correo" type="email" class="form-control" placeholder="Correo Electrónico" name="Correo" id="Correo" required />
                                <label class="form-label">Correo Electrónico</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-floating">
                                <input asp-for="Contrasennia" type="password" class="form-control" placeholder="Contraseña" name="Contrasennia" id="Contrasennia" required/>
                                <label class="form-label">Contraseña</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-floating mt-3 pb-3">
                        <div class="align-self-center">
                            @if (ViewBag.mensajeError != null)
                            {
                                <div class="alert alert-danger">
                                    @ViewBag.mensajeError
                                </div>
                            }
                            <div id="html_element"></div>
                            <hr />
                        </div>

                    </div>

                    <div class="form-group text-center mt-4">
                        <input type="submit" class="btn btn-primary w-100 btn-lg" style="background-color:#321914; border-color: #321914;" value="Registrarse" />
                        <div class="pt-3">
                            <p style=" color: #321914;">O Continúa con:</p>
                        </div>
                        <a asp-controller="Autenticacion" asp-action="LoginGoogle" class="btn w-75 pb-2" style="background-color:#FAF9F6; border-color: #1F283E;">
                            <div class="text-secondary text-decoration-none">
                                <i>
                                    <img src="https://png.pngtree.com/png-vector/20230817/ourmid/pngtree-google-internet-icon-vector-png-image_9183287.png"
                                         width="30" />
                                </i>
                                Google
                            </div>
                        </a>
                    </div>
                </form>
                <a href="@Url.Action("Login", "Autenticacion")" class="mt-4 text-center under">¿Ya tenés una cuenta? <br> ¡Inicia sesión aquí!</a>
            </div>
        </div>
    </section>
</div>
<script src="~/js/ConsultaNombre.js"></script>